.header {
  display: flex;
  padding: 1.5rem var(--space-16);
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  font-family: var(--font-display);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.logoContainer p {
  font-weight: 700;
}
.logoContainer > img {
  flex-shrink: 0;
}

.navLinks {
  display: flex;
  gap: var(--space-6);
  font-size: 0.85em;
  letter-spacing: 1px;
  justify-content: flex-end;
  align-items: center;
  color: rgb(78, 78, 78);
  font-family: var(--font-body);
  flex: 1;
}

.navLinks a:hover {
  color: black;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(78, 78, 78);
  border-inline-start: 1px solid black;
  padding-inline-start: var(--space-6);
  text-align: center;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.language a:hover {
  color: black;
}

.menuToggle {
  display: none;
}

@media (max-width: 768px) {
  .logoContainer > p {
    display: none;
  }
}

@media (max-width: 550px) {
  .menuToggle {
    display: inline-block;
  }

  .language {
    border: none;
    padding: 0;
    width: 100%;

    border-block-start: 1px solid black;
    padding-block-start: var(--space-6);
  }

  .defaultNavContainer {
    display: none;
  }
}
