.buttonLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: var(--secondary);
  padding: var(--space-3) var(--space-6);

  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  transition: var(--transition);

  width: 100%;
  max-width: 200px;
}

.buttonLink.secondary {
  background: none;
  border: 2px solid white;
  color: white;
}

.buttonLink:hover {
  background-color: white;
  color: black;
}
